/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
  border: 2px solid #666;
}

body {
  background: #3f51b5;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.weather-forecast-wrapper {
  margin: 0 auto;
  width: 40%;

  @media only screen and (max-width: 64em) { 
    width: 60%;
  }

  @media only screen and (max-width: 48em) { 
    width: 100%;
  }

  header {
    text-align: center;
    padding: 20px 0;

    .heading {
      font-size: 25px;
      padding: 30px 0 0 0;
      text-transform: uppercase;
    }
    
    .city-name {
      font-size: 20px;
      padding: 10px;
      text-transform: capitalize;
    }
  }

  .forecast-tiles {
    width: 100%;

    .forecast-tile {
      height: 100px;
      background: #303f9f;
      margin: 3px;
      display: flex;

      .icon {
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #283593;
        flex-direction: column;
        text-transform: uppercase;
        font-size: 12px;
      }

      .weather-info {
        padding: 0 0 0 15px;
        display: flex;
        align-items: left;
        flex-direction: column;
        justify-content: center;

        .min-max {
          padding: 10px 10px;
          font-size: 20px;
          color: #c7cef5;
          
          strong {
            font-weight: bold;
            color: #fff;
          }
        }
        
        .more-info {
          padding: 0 10px;
          font-size: 12px;
        }
      }
    }
  }
}